/k12-gdna.fna
__pycache__/
/taq-gdna.fna
/GCF_001399775.1_ASM139977v1_genomic.fna
/GCF_000195955.2_ASM19595v2_genomic.fna
/mtb-gdna.fna
/assembly_summary_genbank.txt
/GCA_900149915.1_EPEC-E2348_69-V2_genomic.fna
/epec-gdna.fna
/GCA_000006765.1_ASM676v1_genomic.fna
/pseu-gdna.fna
/all-bac-seq.fna
/all-bac-corrected.fna
/downloaded_DNA/
/plots/
